[submodule "Renderent/vendor/spdlog"]
	path = Renderent/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Renderent/vendor/glfw"]
	path = Renderent/vendor/glfw
	url = https://github.com/dannymato/glfw
[submodule "Renderent/vendor/imgui"]
	path = Renderent/vendor/imgui
	url = https://github.com/dannymato/imgui
[submodule "Renderent/vendor/glm"]
	path = Renderent/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Sandbox/vendor/box2d"]
	path = Sandbox/vendor/box2d
	url = https://github.com/dannymato/box2d
